# PyCharm

.idea

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Needed for any Python project. Otherwise git reports dirt *.pyc files after
# running any code. (Maybe PyCharm surpresses the creation of *.pyc files, and
# you weren't seeing this?)
*.pyc

# not sure who was creating this -- maybe pytest? --- but I needed this too.
.cache
